<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>host</param-name>
        <param-value>jdbc:mysql://localhost:3306/cloud</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>CloudFilter</filter-name>
        <filter-class>filter.CloudFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CloudFilter</filter-name>
        <url-pattern>/cloud/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>controller.UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_company</servlet-name>
        <servlet-class>controller.manage_data_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_admin</servlet-name>
        <servlet-class>controller.manage_data_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_customer</servlet-name>
        <servlet-class>controller.manage_data_customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_major</servlet-name>
        <servlet-class>controller.manage_data_major</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product</servlet-name>
        <servlet-class>controller.manage_data_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_type</servlet-name>
        <servlet-class>controller.manage_data_product_type</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_type_mobile</servlet-name>
        <servlet-class>controller.manage_data_product_type_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_type_other_tool</servlet-name>
        <servlet-class>controller.manage_data_product_type_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_type_sim</servlet-name>
        <servlet-class>controller.manage_data_product_type_sim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_mobile</servlet-name>
        <servlet-class>controller.manage_data_product_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_sim</servlet-name>
        <servlet-class>controller.manage_data_product_sim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_other_tool</servlet-name>
        <servlet-class>controller.manage_data_product_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.showData</servlet-name>
        <servlet-class>controller.showData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_topic_repair_mobile</servlet-name>
        <servlet-class>controller.manage_data_topic_repair_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_topic_repair_other_tool</servlet-name>
        <servlet-class>controller.manage_data_topic_repair_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.consignment_mobile</servlet-name>
        <servlet-class>controller.consignment_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.consignment_other_tool</servlet-name>
        <servlet-class>controller.consignment_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.other_service_add_money</servlet-name>
        <servlet-class>controller.other_service_add_money</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.other_service_clean_mobile</servlet-name>
        <servlet-class>controller.other_service_clean_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.other_service_clean_other_tool</servlet-name>
        <servlet-class>controller.other_service_clean_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.other_service_add_film_protect</servlet-name>
        <servlet-class>controller.other_service_add_film_protect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.other_service_add_batterry</servlet-name>
        <servlet-class>controller.other_service_add_batterry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.repair_other_tool_order</servlet-name>
        <servlet-class>controller.repair_other_tool_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.repair_mobile_order</servlet-name>
        <servlet-class>controller.repair_mobile_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.sale_other_tool</servlet-name>
        <servlet-class>controller.sale_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.sale_mobile</servlet-name>
        <servlet-class>controller.sale_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.sale_sim</servlet-name>
        <servlet-class>controller.sale_sim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.repair_other_tool_check_status</servlet-name>
        <servlet-class>controller.repair_other_tool_check_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_connection</servlet-name>
        <servlet-class>controller.check_connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.connect</servlet-name>
        <servlet-class>controller.connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.stock_mobile</servlet-name>
        <servlet-class>controller.stock_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.stock_other_tool</servlet-name>
        <servlet-class>controller.stock_other_tool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.stock_sim</servlet-name>
        <servlet-class>controller.stock_sim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_creditor</servlet-name>
        <servlet-class>controller.report_creditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_debtor</servlet-name>
        <servlet-class>controller.report_debtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_export_mobile_data</servlet-name>
        <servlet-class>controller.report_export_mobile_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_mobile_data</servlet-name>
        <servlet-class>controller.report_product_export_mobile_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_mobile_summary</servlet-name>
        <servlet-class>controller.report_product_export_mobile_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_other_tool_data</servlet-name>
        <servlet-class>controller.report_product_export_other_tool_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_other_tool_summary</servlet-name>
        <servlet-class>controller.report_product_export_other_tool_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_sim_data</servlet-name>
        <servlet-class>controller.report_product_export_sim_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_export_sim_summary</servlet-name>
        <servlet-class>controller.report_product_export_sim_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_mobile_data</servlet-name>
        <servlet-class>controller.report_product_import_mobile_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_mobile_summarry</servlet-name>
        <servlet-class>report_product_import_mobile_summarry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_mobile_summary</servlet-name>
        <servlet-class>controller.report_product_import_mobile_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_sim_data</servlet-name>
        <servlet-class>controller.report_product_import_sim_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_sim_summary</servlet-name>
        <servlet-class>controller.report_product_import_sim_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_other_tool_data</servlet-name>
        <servlet-class>controller.report_product_import_other_tool_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_product_import_other_tool_summary</servlet-name>
        <servlet-class>controller.report_product_import_other_tool_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_about</servlet-name>
        <servlet-class>controller.manage_data_about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_debbtor</servlet-name>
        <servlet-class>controller.report_debbtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_url_safe</servlet-name>
        <servlet-class>controller.manage_data_url_safe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_level</servlet-name>
        <servlet-class>controller.manage_data_level</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_dat_user</servlet-name>
        <servlet-class>controller.manage_dat_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>util.convert</servlet-name>
        <servlet-class>util.convert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_status</servlet-name>
        <servlet-class>controller.manage_data_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_user</servlet-name>
        <servlet-class>controller.manage_data_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.repair_mobile_check_status</servlet-name>
        <servlet-class>controller.repair_mobile_check_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_unit</servlet-name>
        <servlet-class>controller.manage_data_unit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.manage_data_product_all</servlet-name>
        <servlet-class>controller.manage_data_product_all</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.show_select_mobile</servlet-name>
        <servlet-class>controller.show_select_mobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.option_report</servlet-name>
        <servlet-class>controller.option_report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_data</servlet-name>
        <servlet-class>controller.report_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller.report_summary</servlet-name>
        <servlet-class>controller.report_summary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.UserServlet</servlet-name>
        <url-pattern>/controller.UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_company</servlet-name>
        <url-pattern>/controller.manage_data_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_admin</servlet-name>
        <url-pattern>/controller.manage_data_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_customer</servlet-name>
        <url-pattern>/controller.manage_data_customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_major</servlet-name>
        <url-pattern>/controller.manage_data_major</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product</servlet-name>
        <url-pattern>/controller.manage_data_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_type</servlet-name>
        <url-pattern>/controller.manage_data_product_type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_type_mobile</servlet-name>
        <url-pattern>/controller.manage_data_product_type_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_type_other_tool</servlet-name>
        <url-pattern>/controller.manage_data_product_type_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_type_sim</servlet-name>
        <url-pattern>/controller.manage_data_product_type_sim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_mobile</servlet-name>
        <url-pattern>/controller.manage_data_product_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_sim</servlet-name>
        <url-pattern>/controller.manage_data_product_sim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_other_tool</servlet-name>
        <url-pattern>/controller.manage_data_product_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.showData</servlet-name>
        <url-pattern>/controller.showData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_topic_repair_mobile</servlet-name>
        <url-pattern>/controller.manage_data_topic_repair_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_topic_repair_other_tool</servlet-name>
        <url-pattern>/controller.manage_data_topic_repair_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.consignment_mobile</servlet-name>
        <url-pattern>/controller.consignment_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.consignment_other_tool</servlet-name>
        <url-pattern>/controller.consignment_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.other_service_add_money</servlet-name>
        <url-pattern>/controller.other_service_add_money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.other_service_clean_mobile</servlet-name>
        <url-pattern>/controller.other_service_clean_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.other_service_clean_other_tool</servlet-name>
        <url-pattern>/controller.other_service_clean_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.other_service_add_film_protect</servlet-name>
        <url-pattern>/controller.other_service_add_film_protect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.other_service_add_batterry</servlet-name>
        <url-pattern>/controller.other_service_add_batterry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.repair_other_tool_order</servlet-name>
        <url-pattern>/controller.repair_other_tool_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.repair_mobile_order</servlet-name>
        <url-pattern>/controller.repair_mobile_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.sale_other_tool</servlet-name>
        <url-pattern>/controller.sale_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.sale_mobile</servlet-name>
        <url-pattern>/controller.sale_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.sale_sim</servlet-name>
        <url-pattern>/controller.sale_sim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.repair_other_tool_check_status</servlet-name>
        <url-pattern>/controller.repair_other_tool_check_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_connection</servlet-name>
        <url-pattern>/check_connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.connect</servlet-name>
        <url-pattern>/controller.connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.stock_mobile</servlet-name>
        <url-pattern>/controller.stock_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.stock_other_tool</servlet-name>
        <url-pattern>/controller.stock_other_tool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.stock_sim</servlet-name>
        <url-pattern>/controller.stock_sim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_creditor</servlet-name>
        <url-pattern>/controller.report_creditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_debtor</servlet-name>
        <url-pattern>/controller.report_debtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_export_mobile_data</servlet-name>
        <url-pattern>/controller.report_export_mobile_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_mobile_data</servlet-name>
        <url-pattern>/controller.report_product_export_mobile_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_mobile_summary</servlet-name>
        <url-pattern>/controller.report_product_export_mobile_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_other_tool_data</servlet-name>
        <url-pattern>/controller.report_product_export_other_tool_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_other_tool_summary</servlet-name>
        <url-pattern>/controller.report_product_export_other_tool_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_sim_data</servlet-name>
        <url-pattern>/controller.report_product_export_sim_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_export_sim_summary</servlet-name>
        <url-pattern>/controller.report_product_export_sim_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_mobile_data</servlet-name>
        <url-pattern>/controller.report_product_import_mobile_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_mobile_summarry</servlet-name>
        <url-pattern>/controller.report_product_import_mobile_summarry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_mobile_summary</servlet-name>
        <url-pattern>/controller.report_product_import_mobile_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_sim_data</servlet-name>
        <url-pattern>/controller.report_product_import_sim_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_sim_summary</servlet-name>
        <url-pattern>/controller.report_product_import_sim_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_other_tool_data</servlet-name>
        <url-pattern>/controller.report_product_import_other_tool_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_product_import_other_tool_summary</servlet-name>
        <url-pattern>/controller.report_product_import_other_tool_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_about</servlet-name>
        <url-pattern>/controller.manage_data_about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_debbtor</servlet-name>
        <url-pattern>/controller.report_debbtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_url_safe</servlet-name>
        <url-pattern>/controller.manage_data_url_safe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_level</servlet-name>
        <url-pattern>/controller.manage_data_level</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_dat_user</servlet-name>
        <url-pattern>/controller.manage_dat_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>util.convert</servlet-name>
        <url-pattern>/util.convert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_status</servlet-name>
        <url-pattern>/controller.manage_data_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_user</servlet-name>
        <url-pattern>/controller.manage_data_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.repair_mobile_check_status</servlet-name>
        <url-pattern>/controller.repair_mobile_check_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_unit</servlet-name>
        <url-pattern>/controller.manage_data_unit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.manage_data_product_all</servlet-name>
        <url-pattern>/controller.manage_data_product_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.show_select_mobile</servlet-name>
        <url-pattern>/controller.show_select_mobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.option_report</servlet-name>
        <url-pattern>/controller.option_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_data</servlet-name>
        <url-pattern>/controller.report_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.report_summary</servlet-name>
        <url-pattern>/controller.report_summary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
